<%- include('/Users/joshbuckley/sei/ga-code/project-2/views/partials/header.ejs') %>

<body>
    <div class="container">
        <h1>Task List</h1>
        <% if (tasks.length > 0) { %>
            <ul>
                <% tasks.forEach(task => { %>
                    <li>
                        <strong><%= task.title %></strong>
                        <p><%= task.description %></p>
                        <p>Due Date: <%= task.dueDate.toISOString().split('T')[0] %></p>
                        <a href="/tasks/<%= task._id %>/edit">Edit</a>
                        <form action="/tasks/<%= task._id %>/delete" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No tasks found.</p>
        <% } %>

        <a href="/tasks/create" class="btn btn-primary mt-3">Create New Task</a>
        <a href="/" class="btn btn-secondary mt-3">Go Back to Homepage</a>
    </div>
</body>
<%- include('/Users/joshbuckley/sei/ga-code/project-2/views/partials/footer.ejs') %>

